#example-scanning-overlay{
  background-color: rgb(150,150,150);
  opacity: 0.5;
}
#example-scanning-overlay.hidden {
  display: none;
}

.div-ui{
  background-color: rgb(150,150,150);
  opacity: 0.5;
}

.p{
  background: rgb(150,150,150);
}
